node_modules/
**/src/public/mp3/*/*.mp3
**/src/lib/GoogleTextToSpeech/*.json
**/src/lib/skills/*
**/src/voices/*.wav
sqlite.db
.idea/
/src/public/hot_words/*.json
/src/lib/DB/Client.json
/src/public/css/lib/SCSS-Mixins/SCSS-Mixins.css
/src/public/css/lib/SCSS-Mixins/SCSS-Mixins.css.map
/src/public/css/shadows.css
/src/public/css/shadows.css.map
src/lib/skills/skills.json
