<div class="row">
    <div class="col col-12">
        <h1>{{ Dictionary.settings }}</h1>
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ Dictionary.language }}</span>
            </div>
            <select v-model="Language" class="custom-select" @change="set_language">
                <option selected>{{ Dictionary.choose }}</option>
                <option :key="index" :value="index" v-for="(item, index) in Languages">{{ item }}</option>
            </select>
        </div>
    </div>
    <!--
    <div class="col col-12 col-sm-7 col-md-7 col-lg-6 col-xl-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ Dictionary.hotWord }}</span>
            </div>
            <select v-model="hotWord" class="custom-select" @change="set_hot_word">
                <option selected>{{ Dictionary.choose }}</option>
                <option :key="index" :value="item" v-for="(item, index) in hotWords">{{ item.slice(0, -5).split("_").join(" ") }}</option>
            </select>
        </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ Dictionary.tts }}</span>
            </div>
            <select v-model="hotWord" class="custom-select" @change="set_hot_word">
                <option selected>{{ Dictionary.choose }}</option>
                <option :key="index" :value="item" v-for="(item, index) in Languages">{{ item.slice(0, -5).split("_").join(" ") }}</option>
            </select>
        </div>
    </div>
    -->
    <!--
    <div class="col col-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ Dictionary.address }}</span>
        </div>
        <input type="text" class="form-control" :placeholder="Dictionary.choose">
      </div>
    </div>
    <div class="col col-12">
      <div class="map" id="map"></div>
    </div>
     -->
    <!--
    <novaroom icon="fas fa-plus" ></novaroom>
    <novaroom :key="index" :Name="room.Name" :Icon="room.Icon" v-for="(room, index) in House.Rooms" v-b-modal="'modal-room'+index"></novaroom>
    -->
</div>