<div class="row">
    <div class="col col-12">
        <h1>{{ Dictionary.settings }}</h1>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ Dictionary.language }}</span>
                            </div>
                            <select v-model="Language" class="custom-select" @change="set_language">
                                <option disabled selected>{{ Dictionary.choose }}</option>
                                <option :key="index" :value="index" v-for="(item, index) in Languages">{{ item }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="col col-12 col-sm-7 col-md-7 col-lg-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ Dictionary.theme }}</span>
                                </div>
                                <select v-model="theme" class="custom-select" @change="set_theme">
                                    <option disabled selected>{{ Dictionary.choose }}</option>
                                    <option :key="index" :value="item" v-for="(item, index) in themes">{{ item.slice(0, -4) }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>