@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes microphone {
  0% {
    height: 45px;
    width: 45px;
  }
  10% {
    height: 55px;
    width: 55px;
  }
  20% {
    height: 42px;
    width: 42px;
  }
  30% {
    height: 50px;
    width: 50px;
  }
  40% {
    height: 45px;
    width: 45px;
  }
  50% {
    height: 55px;
    width: 55px;
  }
  60% {
    height: 50px;
    width: 50px;
  }
  70% {
    height: 60px;
    width: 60px;
  }
  80% {
    height: 50px;
    width: 50px;
  }
  90% {
    height: 55px;
    width: 55px;
  }
  100% {
    height: 45px;
    width: 45px;
  }
}
html body {
  margin: 0px;
  background-color: #f5f7fb;
  font-family: "Roboto", sans-serif;
}
html body > #app {
  height: 100%;
}
html body > #app [role=button] {
  outline: none;
}
html body > #app .hide {
  opacity: 0;
  position: fixed;
  top: -100vh;
  left: -100vw;
}
html body > #app > #spinner {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 999;
}
html body > #app > #spinner > .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body > #app > #spinner > .center > div {
  height: 50px;
  width: 50px;
  border-width: 4px;
  border-style: solid;
  border-color: #2196F3 transparent transparent transparent;
  animation: spin 1s linear infinite;
}
html body > #app > .tabs {
  height: 100%;
}
html body > #app > .tabs > div > .nav {
  background-color: white;
  border-bottom: 1px solid #E0E5EC;
  height: 54px;
  box-sizing: content-box;
  padding: 0px 18px;
}
html body > #app > .tabs > div > .nav > .nav-item {
  height: 54px;
  padding: 0px 12px;
}
html body > #app > .tabs > div > .nav > .nav-item > .nav-link {
  height: 54px;
  line-height: 54px;
  padding: 0px;
  cursor: pointer;
  border-radius: 0px;
  border: none;
}
html body > #app > .tabs > div > .nav > .nav-item > .nav-link:focus {
  outline: 0;
}
html body > #app > .tabs > div > .nav > .nav-item > .nav-link.active {
  background-color: transparent;
  color: #467fcf;
}
html body > #app > .tabs > div > .nav > .nav-item > .nav-link:not(.active) {
  color: #9aa0ac;
}
html body > #app > .tabs > div > .nav > .nav-item > .nav-link > svg {
  font-size: 14px;
}
html body > #app > .tabs > div > .nav > .nav-item > .nav-link > span {
  font-size: 15px;
}
html body > #app > .tabs > .tab-content {
  height: calc(100% - 54px - 1px);
  padding: 15px;
  overflow: auto;
}
html body > #app > .tabs > .tab-content > .tab-pane {
  min-height: 100%;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container > .row > .col {
  padding-top: 15px;
  padding-bottom: 15px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container > .row > .col > .card {
  border-color: #E0E5EC;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container > .row > .col > .card > .card-header, html body > #app > .tabs > .tab-content > .tab-pane > .container > .row > .col > .card > .card-footer {
  background-color: transparent;
  border-color: #E0E5EC;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container > .row > .col > .card > .card-footer {
  padding: 15px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container > .row > .col > .card > .card-footer > .input-group {
  margin-bottom: 0px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container > .row > .col > .card > .card-footer > .input-group > input {
  border: none;
  border-radius: 100px;
  background-color: #F2F2F2;
  font-size: 14px;
  margin-right: 15px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container > .row > .col > .card > .card-footer > .input-group > .input-group-append > button {
  border-radius: 50%;
  color: #2196F3;
  background-color: transparent;
  border-color: #E0E5EC;
  width: 35px;
  padding: 0px;
  text-align: center;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card.connected > .card-body > .mic {
  background-color: #2196F3;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card.connected.active > .card-body > .grey {
  animation-duration: 3s;
  animation-name: microphone;
  animation-iteration-count: infinite;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card:not(.connected) > .card-body > .mic {
  background-color: #9E9E9E;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card > .card-body {
  position: relative;
  padding-top: 35px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card > .card-body > .grey, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card > .card-body > .mic {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 0px;
  left: 50%;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card > .card-body > .grey {
  background-color: #E0E0E0;
  z-index: 1;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card > .card-body > .mic {
  color: white;
  z-index: 2;
  height: 40px;
  width: 40px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card > .card-body > .mic > i, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card > .card-body > .mic > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-dashboard > .row > .col > .card > .card-body > .input-group:not(:last-child) {
  margin-bottom: 15px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row {
  display: flex;
  flex-wrap: wrap;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col {
  display: flex;
  flex-direction: column;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card {
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-header {
  padding: 0px;
  position: relative;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-header > .icon, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-header > .wallpaper {
  background-color: white;
  background-position: center center;
  background-size: cover;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-header > .icon {
  border-radius: 0.25rem;
  height: 60px;
  width: 60px;
  border: 1px solid #E0E5EC;
  position: absolute;
  left: 15px;
  top: 100%;
  transform: translateY(-50%);
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-header > .wallpaper {
  width: 100%;
  padding-top: 56%;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-body {
  padding: 15px;
  padding-left: 90px;
  position: relative;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-body > .card-title {
  margin: 0px;
  font-size: 16px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-body > .installed {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  background-color: #4CAF50;
  border-radius: 100px;
  border: 1px solid #E0E5EC;
  color: white;
  padding: 0px 5px;
  line-height: 28px;
  height: 28px;
  min-width: 28px;
  text-align: center;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-body > .installed:not(:hover) > i, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-body > .installed:not(:hover) > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-body > .installed:not(:hover) > span {
  display: none;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-footer > .row > .col > a {
  width: 100%;
  display: block;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-skills > .row > .col > .card > .card-footer > .row > .col > a > button {
  width: 100%;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .map {
  height: 300px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-color: white;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room.has_title > .square {
  padding-top: calc(100% - 1px * 2);
  border: 1px solid #ced4da;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room.has_title > .square > i, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room.has_title > .square > svg {
  top: calc(50% - 37px / 2);
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room.has_title > .square > span {
  text-align: center;
  width: 100%;
  display: block;
  bottom: 0px;
  left: 0px;
  background-color: #e9ecef;
  border-top: 1px solid #ced4da;
  padding: 6px 12px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room:not(.has_title) > .square {
  padding-top: calc(100% - 3px * 2);
  border: 3px dashed #ced4da;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room:not(.has_title) > .square > i, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room:not(.has_title) > .square > svg {
  top: 50%;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room > .square {
  width: 100%;
  border-radius: 0.25rem;
  background-color: white;
  position: relative;
  cursor: pointer;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room > .square > i, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room > .square > svg {
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room > .square > i, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room > .square > svg, html body > #app > .tabs > .tab-content > .tab-pane > .container#tab-house > .row > .col > .room > .square > span {
  position: absolute;
}
html body .modal > .modal-dialog > .modal-content > header {
  position: relative;
  padding-left: 66px;
}
html body .modal > .modal-dialog > .modal-content > header > h5 {
  line-height: 1;
}
html body .modal > .modal-dialog > .modal-content > header > h5 > .icon {
  position: absolute;
  top: 50%;
  left: calc(25px + 13px / 2);
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 0.25rem;
  border: 1px solid #E0E5EC;
  background-color: white;
  background-position: center center;
  background-size: cover;
}
html body .modal > .modal-dialog > .modal-content > header > h5 > .title {
  font-weight: 1000;
}
html body .modal > .modal-dialog > .modal-content > header > h5 > a.author {
  font-size: 0.8rem;
}
html body .modal > .modal-dialog > .modal-content > .modal-body {
  padding: 15px;
}
html body .modal > .modal-dialog > .modal-content > .modal-body > .carousel {
  margin-bottom: 15px;
}
html body .modal > .modal-dialog > .modal-content > .modal-footer > .github-button {
  color: #24292e;
  background-color: #eff3f6;
  padding: 6px 12px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  font-size: 12px;
  font-weight: 600;
  border-radius: 0.25em;
  text-decoration: none;
  height: 24px;
  box-sizing: content-box;
  line-height: 24px;
}

/*# sourceMappingURL=style.css.map */
