//- ############################################################################################################################
//- ### IMPORTS ################################################################################################################
//- ############################################################################################################################

@import "lib/SCSS-Mixins/SCSS-Mixins";
@import "shadows";

//- ############################################################################################################################
//- ### VARIABLES ##############################################################################################################
//- ############################################################################################################################

$nav_size: 62px;
$border_color: #E0E5EC;
$message_color: #2196F3;

//- ############################################################################################################################
//- ### SCSS ###################################################################################################################
//- ############################################################################################################################

@include keyframes(microphone){
  0% {
    height: 45px;
    width: 45px;
  }
  10% {
    height: 55px;
    width: 55px;
  }
  20% {
    height: 42px;
    width: 42px;
  }
  30% {
    height: 50px;
    width: 50px;
  }
  40% {
    height: 45px;
    width: 45px;
  }
  50% {
    height: 55px;
    width: 55px;
  }
  60% {
    height: 50px;
    width: 50px;
  }
  70% {
    height: 60px;
    width: 60px;
  }
  80% {
    height: 50px;
    width: 50px;
  }
  90% {
    height: 55px;
    width: 55px;
  }
  100% {
    height: 45px;
    width: 45px;
  }
}

html{
  > body{
    > #app{
      > main{
        > .tab-content{
          > .tab-pane{
            > .container{
              > .row{
                > .col{
                  > .card{
                    border-color: $border_color;

                    > .card-header, > .card-footer{
                      background-color: transparent;
                      border-color: $border_color;
                    }

                    > .card-footer{
                      padding: 15px;

                      > .input-group{
                        margin-bottom: 0;

                        > input{
                          border: none;
                          @include border-radius(100px);
                          background-color: #F2F2F2;
                          font-size: 14px;
                          margin-right: 15px;
                        }

                        > .input-group-append{
                          > button{
                            @include border-radius(50%);
                            color: $message_color;
                            background-color: transparent;
                            border-color: $border_color;
                            width: 35px;
                            padding: 0;
                            text-align: center;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            &#home{
              > .container {
                > .row {
                  > .col {
                    > .card {
                      @include border-radius(10px);
                      border-color: $border_color;

                      &.connected {
                        > .card-body {
                          > .mic {
                            background-color: $message_color;
                          }
                        }

                        &.active {
                          > .card-body {
                            > .grey {
                              animation-duration: 3s;
                              animation-name: microphone;
                              animation-iteration-count: infinite;
                            }
                          }
                        }
                      }

                      &:not(.connected) {
                        > .card-body {
                          > .mic {
                            background-color: #9E9E9E;
                          }
                        }
                      }

                      > .card-body {
                        position: relative;
                        padding-top: 35px;

                        > .grey, > .mic {
                          position: absolute;
                          @include border-radius(50%);
                          @include transform(translate(-50%, -50%));
                          top: 0;
                          left: 50%;
                        }

                        > .grey {
                          background-color: #E0E0E0;
                          z-index: 1;
                        }

                        > .mic {
                          color: white;
                          z-index: 2;
                          height: 40px;
                          width: 40px;

                          > i, > svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform(translate(-50%, -50%));
                          }
                        }

                        > .input-group {
                          &:not(:last-child) {
                            margin-bottom: 15px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            &#skills{
              > .container {
                > .row{
                  display: flex;
                  flex-wrap: wrap;

                  > .col {
                    display: flex;
                    flex-direction: column;

                    > .card{
                      height: 100%;
                      cursor: pointer;
                      overflow: hidden;

                      > .card-header{
                        padding: 0;
                        position: relative;

                        > .icon, > .wallpaper{
                          background-color: white;
                          background-position: center center;
                          background-size: cover;
                        }

                        > .icon{
                          @include border-radius(0.25rem);
                          height: 60px;
                          width: 60px;
                          border: 1px solid $border_color;
                          position: absolute;
                          left: 15px;
                          top: 100%;
                          @include transform(translateY(-50%));
                        }

                        > .wallpaper{
                          width: 100%;
                          padding-top: 56%;
                        }
                      }

                      > .card-body{
                        padding: 15px;
                        padding-left: 60px + 15px * 2;
                        position: relative;

                        > .card-title{
                          margin: 0;
                          font-size: 16px;
                        }

                        > .installed{
                          position: absolute;
                          @include transform(translateY(-50%));
                          top: 50%;
                          right: 15px;
                          background-color: #4CAF50;
                          @include border-radius(100px);
                          border: 1px solid #E0E5EC;
                          color: white;
                          padding: 0 5px;
                          line-height: 28px;
                          height: 28px;
                          min-width: 28px;
                          text-align: center;

                          &:not(:hover){
                            > i, > svg{
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              @include transform(translate(-50%, -50%));
                            }

                            > span{
                              display: none;
                            }
                          }
                        }
                      }

                      > .card-footer{
                        > .row{
                          > .col{
                            > a{
                              width: 100%;
                              display: block;

                              > button{
                                width: 100%;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            &#house{
              > .container {
                > .row{
                  > .col{
                    > .map{
                      height: 300px;
                      @include border-radius(0.25rem);
                      border: 1px solid #ced4da;
                      background-color: white;
                    }

                    > .room{
                      &.has_title{
                        > .square{
                          padding-top: calc(100% - 1px * 2);
                          border: 1px solid #ced4da;

                          > i, > svg{
                            top: calc(50% - 37px / 2);
                          }

                          > span{
                            text-align: center;
                            width: 100%;
                            display: block;
                            bottom: 0;
                            left: 0;
                            background-color: #e9ecef;
                            border-top: 1px solid #ced4da;
                            padding: 6px 12px;
                          }
                        }
                      }

                      &:not(.has_title){
                        > .square{
                          padding-top: calc(100% - 3px * 2);
                          border: 3px dashed #ced4da;

                          > i, > svg{
                            top: 50%;
                          }
                        }
                      }

                      > .square{
                        width: 100%;
                        @include border-radius(0.25rem);
                        background-color: white;
                        position: relative;
                        cursor: pointer;

                        > i, > svg{
                          left: 50%;
                          @include transform(translate(-50%, -50%));
                          font-size: 40px;
                        }

                        > i, > svg, > span{
                          position: absolute;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
