<div class="row">
    <div class="col col-12">
        <h1>{{ Dictionary.dashboard }}</h1>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4" v-for="client in NovaClients">
        <b-card class="client" :class="{ connected: client.Connected, active: client.Speaking }">
            <div class="grey"></div>
            <div class="mic">
                <i class="fas fa-microphone"></i>
            </div>
            <input name="ID" class="hide" type="number" :value="client.ID" readonly>
            <div class="input-group">
                <input type="text" class="form-control" :placeholder="Dictionary.name" :value="client.Name">
            </div>
        </b-card>
    </div>
</div>