//- ############################################################################################################################
//- ### IMPORTS ################################################################################################################
//- ############################################################################################################################

@import "../lib/SCSS-Mixins/SCSS-Mixins";
@import "../shadows";

//- ############################################################################################################################
//- ### VARIABLES ##############################################################################################################
//- ############################################################################################################################

$transition_time: 0.2s;

//- ############################################################################################################################
//- ### SCSS ###################################################################################################################
//- ############################################################################################################################

$background_color: #202328;

html{
  > body{
    background-color: $background_color;

    > #app{
      input, select{
        &:focus{
          border-color: #045089;
        }
      }

      > #spinner{
        > .background{
          background-color: $background_color;
        }
      }

      > header{
        background-color: #18191D;
        border: none;

        > .nav {
          > li {
            > a {
              @include transition(color, $transition_time, ease-in-out);

              &:after{
                content: "";
                position: absolute;
                top: 0;
                height: 100%;
                width: 120%;
                background-color: #2196F3;
                z-index: -1;
                @include border-radius(0px 10px 10px 0px);
                @extend .shadow_2;
                @include transition(left, $transition_time, ease-in-out);
              }

              &:not(.active) {
                color: #757575;

                &:after{
                  left: -85px;
                }
              }

              &.active{
                color: white;

                &:after{
                  left: 0;
                }
              }
            }
          }
        }
      }

      > main {
        >.tab-content{
          >.tab-pane{
            &#home{
              >.container{
                >.row{
                  >.col{
                    >.card{
                      border: none;
                    }
                  }
                }
              }
            }

            >.container{
              >.row{
                >.col{
                  > h1{
                    color: white;
                  }

                  > .card{
                    > .card-footer{
                      > .input-group{
                        > .input-group-append{
                          > button{
                            border-color: $background_color;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}