//- ############################################################################################################################
//- ### IMPORTS ################################################################################################################
//- ############################################################################################################################

@import "../lib/SCSS-Mixins/SCSS-Mixins";

//- ############################################################################################################################
//- ### VARIABLES ##############################################################################################################
//- ############################################################################################################################

$transition_time: 0.2s;

//- ############################################################################################################################
//- ### SCSS ###################################################################################################################
//- ############################################################################################################################

html{
  > body{
    background-color: #f5f7fb;

    > #app{
      input, select{
        &:focus{
          border-color: #045089;
        }
      }
    }
  }
}