<div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ Dictionary.search }}</span>
            </div>
            <input v-model="skillSearch" type="text" :placeholder="Dictionary.search_placeholder" class="form-control">
        </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ Dictionary.install_from_git }}</span>
            </div>
            <input type="text" :placeholder="Dictionary.install_from_git_placeholder" class="form-control">
            <div @click="install_skill_from_git" class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">{{Dictionary.install}}</button>
            </div>
        </div>
    </div>
    <div v-if="skill.title.includes(skillSearch) === true" class="col col-12 col-sm-12 col-md-6 col-lg-4" v-for="(skill,index) in skills.Library">
        <b-card no-body v-b-modal="'modal-skill'+index" @click="JsonEditing = false">
            <b-card-header>
                <div class="wallpaper" :style="{ backgroundImage: 'url(' + skill.wallpaper + ')' }"></div>
                <div class="icon" :style="{ backgroundImage: 'url(' + skill.icon + ')' }"></div>
            </b-card-header>
            <b-card-body>
                <b-card-title>{{skill.title}}</b-card-title>
                <slot v-if="skills.Installed.findIndex(x => x.GIT.URL === skill.git) > -1">
                    <div class="installed" v-if="skills.Installed.find(x => x.GIT.URL === skill.git).Path !== null">
                        <i class="fas fa-check"></i>
                        <span>{{Dictionary.installed}}</span>
                    </div>
                </slot>
            </b-card-body>
        </b-card>
    </div>
</div>