<b-modal :key="'modal-skill'+index" class="skill" v-for="(skill,index) in skills.Library" :id="'modal-skill'+index" >
    <template v-slot:modal-title>
        <div class="icon" :style="{ backgroundImage: 'url(' + skill.icon + ')' }"></div>
        <span class="title">{{ skill.name }}</span><br/>
        <a target="_blank" :href="skill.author.url" class="author">{{ skill.author.name }}</a>
    </template>
    <div class="unofficial-plugin-message" :data-id="skill.id" v-if="OfficialSkills.indexOf(skill.id) == -1"><i class="fas fa-exclamation-triangle"></i>{{ Dictionary.unofficial_plugin_message }}</div>
    <b-carousel v-if="skill.screenshots.length > 0 && !JsonEditing" :interval="4000" :controls="skill.screenshots.length > 1" :indicators="skill.screenshots.length > 1" background="#ababab" img-width="1024" img-height="480">
        <b-carousel-slide :key="index" v-for="(screenshot, index) in skill.screenshots" :img-src="screenshot"></b-carousel-slide>
    </b-carousel>
    <div v-show="!JsonEditing" v-if="skill.worksOffline" class="alert alert-success">
      <div class="row">
          <div class="col col-auto">
            <i class="fas fa-lock"></i>
          </div>
          <div class="col">{{Dictionary.works_offline}}</div>
      </div>
    </div>
    <div v-show="!JsonEditing" v-if="!skill.worksOffline" class="alert alert-warning">
      <div class="row">
          <div class="col col-auto">
            <i class="fas fa-unlock"></i>
          </div>
          <div class="col">{{Dictionary.doesnt_works_offline}}</div>
      </div>
    </div>
    <span v-show="!JsonEditing" v-html="skill.description"></span>
    <div v-show="!JsonEditing" v-if="skill.language.length > 0" class="languages">
      <br />
      <div class="row">
        <div class="col col-auto">{{ Dictionary.languages }} :</div>
        <div class="col">
          <span v-for="language in skill.language">
            <span v-if="language == 'fr-FR'" >🇫🇷</span>
            <span v-if="language == 'en-US'">🇬🇧</span>
            <span v-if="language == 'es-ES'">🇬🇪</span>
            <span v-if="language == 'it-IT'">🇮🇹</span>
            <span v-if="language == 'de-DE'">🇩🇪</span>
          </span>
        </div>
      </div>
    </div>
    <slot v-if="skills.Installed.findIndex(x => x.GIT.URL === skill.gitURL) > -1">
        <slot v-if="skills.Installed.find(x => x.GIT.URL === skill.gitURL).Path !== null">
            <slot v-if="Object.keys(skills.Installed.find(x => x.GIT.URL === skill.gitURL).Settings).length > 0">
                <v-jsoneditor v-show="JsonEditing" v-model="skills.Installed.find(x => x.GIT.URL === skill.gitURL).Settings" :options="JsonEditorOptions">
            </slot>
        </slot>
    </slot>
    <template v-slot:modal-footer>
        <a class="github-button" target="_blank" :href="skill.gitURL">
            <svg viewBox="0 0 16 16" class="octicon octicon-mark-github" style="width: 16px; height: 16px;" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
            <span>GitHub</span>
        </a>
        <slot v-if="skills.Installed.findIndex(x => x.GIT.URL === skill.gitURL) > -1">
            <slot v-if="skills.Installed.find(x => x.GIT.URL === skill.gitURL).Path !== null">
                <slot v-if="Object.keys(skills.Installed.find(x => x.GIT.URL === skill.gitURL).Settings).length > 0">
                    <b-button v-show="!JsonEditing" variant="outline-secondary" :data-git="skill.gitURL" @click="JsonEditing = !JsonEditing" class="float-right">
                        <i class="fas fa-cog"></i>
                        <span>{{Dictionary.settings}}</span>
                    </b-button>
                    <b-button v-show="JsonEditing" variant="outline-danger" :data-git="skill.gitURL" @click="cancelJsonEditing" class="float-right">
                        <i class="fas fa-undo"></i>
                        <span>{{Dictionary.cancel}}</span>
                    </b-button>
                    <b-button v-show="JsonEditing" variant="outline-success" :data-git="skill.gitURL" @click="validateJsonEditing" class="float-right">
                        <i class="fas fa-check"></i>
                        <span>{{Dictionary.validate}}</span>
                    </b-button>
                </slot>
                <b-button v-show="!JsonEditing" variant="outline-danger" :data-git="skill.gitURL" @click="uninstall_skill" class="float-right">
                    <i class="fas fa-trash-alt"></i>
                    <span>{{Dictionary.uninstall}}</span>
                </b-button>
            </slot>
            <slot v-else>
                <b-button variant="outline-primary" :data-git="skill.gitURL" @click="install_skill" class="float-right">
                    <i class="fas fa-cloud-download-alt"></i>
                    <span>{{Dictionary.reinstall}}</span>
                </b-button>
            </slot>
        </slot>

        <slot v-if="!(skills.Installed.findIndex(x => x.GIT.URL === skill.gitURL) > -1)">
            <b-button variant="outline-primary" :data-git="skill.gitURL" @click="install_skill" class="float-right">
                <i class="fas fa-cloud-download-alt"></i>
                <span>{{Dictionary.install}}</span>
            </b-button>
        </slot>
    </template>
</b-modal>
